*{
    margin: 0;
    padding: 0;
}

:root{
    --backgroung-color : black;
    --text-color : white;
    --button-color : #596D48;
    --main-font: "Varela Round", sans-serif;
    --main-heading-bg : #efefef;
}

@font-face {
    font-family: my-font;
    src: url(../form-odin/font/Norse-Bold.otf);
}

.main-container{
    display: flex;
    padding-left: 13rem;
    padding-right: 20rem;
    background-color: var(--backgroung-color);
}

.left-side{
    background-image: url(../form-odin/images/bg.jpg);
    height: 100vh;
    min-width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 12rem;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
}

.logo{
    height: 8rem;
    width: 6rem;
}

.logo-text{
    color: var(--text-color);
    font-size: 5rem;
    font-family: my-font;
}

.image-credit{
    position: fixed;
    bottom: 1rem;
    left: 20%;
}

.para-credit{
    color: var(--text-color);
}

.pc-link{
    color: var(--text-color);
    list-style: none;
}

.right-side{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 60%;
}

.main-heading{
    min-height: 33%;
    max-height: 35%;
}

.heading-para{
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.main-para, .secondary-line{
    font-size: 1.4rem;
    font-family: var(--main-font);
    padding-left: 1.4rem;
}

span{
    font-style: italic;
}

.form-text{
    font-family: var(--main-font);
    font-size: 1.4rem;
    padding : 1.3rem 0 ;
}

.form-content{
    display: flex;
    flex-direction: column;
    padding-left: 1.4rem;
    padding-bottom: 1.4rem;
}

.first-row, .second-row, .third-row{
    display: flex;
    gap: 5rem;
}

.form-row{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-right: 3rem;
}

label{
    margin-bottom: 0.2rem;
    font-family: var(--main-font);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%; 
  padding: 0.5rem 1.4rem;
  border: 1px solid #E5E7EB;
  border-radius: 0.27rem;
  transition: border 0.3s;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="password"]:focus-visible 
{
    outline: 1px solid #007bff; 
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.button-content{
    padding-left: 1.4rem;
    margin-top: 1.6rem;
}

.button{
    padding-bottom: 1.2rem;
}

button{
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    font-family: var(--main-font);
    border: none;
    background-color: var(--button-color);
    color: white;
    font-size: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.log-in-text-a{
    color: var(--button-color);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 115%;
    padding: 10px;
    font-size: 20px;
}

.fa{
    color: var(--button-color);
}